<% @users.each do |user| %>

    <div class="piecelet">
      <%= link_to(user) do %>
      <div class="piece_image">
        <%= image_tag(user.avatar.url(:full)) if user.avatar? %>
      </div>

      <div class="piece_header">
        <p class="artist"><%= user.name? ? user.name : user.email %></p>


      </div>

        <div class="clearfix"></div>

    </div>
  <% end %>
<% end %>
